.heading 
{
    font-size: 23px;
    width:100%;
    margin:0px;
}

.note 
{
    font-size: 15px;
    color: black;
}

body 
{
    background-size: cover;
}

#current_song
{
    box-shadow: 5px 5px 50px red;
}

canvas
{
    border-radius: 100px;
    border-color: cyan;
    box-shadow: 5px 5px 50px cyan;
    padding: 5px;
    
    
}